<a href="https://colab.research.google.com/github/AhmadNass7/Gisma/blob/main/7%268_Prog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## importing a specific file stating as import 
## import utils
   #from utils import 
   # from utils import shape
   ## every module is in 1 fileee
   # and a module can import another file together its a package
   #if__name__=="__main__"
   #

In [2]:
import pandas as pd 
# list number boeelan
# array one type of variable either boolean string
# serie os like one row and column of data think about them as arrays rows or columns
# data frame is like a sheet of exel

In [3]:
import pandas as pd

In [4]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [5]:
s1= pd.Series([1,2,3,4,5]) # if i put a float interger everything is gonna be a float as a result  # series are way to make a table

In [6]:
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:

print(s1[0:3])

0    1
1    2
2    3
dtype: int64

In [8]:
# series act like a dictionaries

In [9]:
s2= pd.Series({"freezing":0,"cold":10, "warm":30,"hot":40})

In [10]:
print(s2) # it didnt include the index

freezing     0
cold        10
warm        30
hot         40
dtype: int64

In [11]:
print(s2.keys())

Index(['freezing', 'cold', 'warm', 'hot'], dtype='object')

In [12]:
s3= pd.Series([0,10,30,40],index=["freezing","cold", "warm","hot"])
print(s3)

freezing     0
cold        10
warm        30
hot         40
dtype: int64

In [13]:
s3= pd.Series([0,10,30,40],index=["freezing","cold", "warm","hot"])

for v in s3.items():
  print(f":{v}")

:('freezing', 0)
:('cold', 10)
:('warm', 30)
:('hot', 40)

In [14]:
s4= pd.Series(range(10,100,10))
print(s4)
print(s4[5:-3])
print(s4[3:-3])
print(s4[s4<55])

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64
5    60
dtype: int64
3    40
4    50
5    60
dtype: int64
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [15]:
s4= pd.Series(range(10,100,10))
s5=pd.Series(range(-10,-100,-10))
print([s4<s5])

[0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool]

In [16]:
print(s5[s4<55])

0   -10
1   -20
2   -30
3   -40
4   -50
dtype: int64

In [17]:
print(s4*2)

0     20
1     40
2     60
3     80
4    100
5    120
6    140
7    160
8    180
dtype: int64

In [18]:
print(s4*2+1)

0     21
1     41
2     61
3     81
4    101
5    121
6    141
7    161
8    181
dtype: int64

In [19]:
print(s4[3]*2+1)

81

In [20]:
print(s5[(s4<55) & (s4>20)])

2   -30
3   -40
4   -50
dtype: int64

In [21]:
d= {"freezing":0,"cold":10, "normal":20}

s6= pd.Series(d,index=["freezing", "normal"])

print(s6)

freezing     0
normal      20
dtype: int64

In [22]:
print(s6[0],s6["normal"])

0 20

In [23]:
print(s6["freezing":"normal"]) # includes last

freezing     0
normal      20
dtype: int64

In [24]:
print(s6[0:2]) # doesnt inlclude the last in slicing

freezing     0
normal      20
dtype: int64

In [25]:
print(s6.index.size,s6.index.shape) # how many index you have , index shape what is the shape

2 (2,)

In [26]:
ind6= s6.index
ind7=pd.Index(["warm","hot","boiling"])

In [27]:
ind6= s6.index
ind7= pd.Index(["warm","hot","boiling"])

print(ind6 & ind7)
print(ind6 | ind7)

Index([], dtype='object')
Index(['boiling', 'freezing', 'hot', 'normal', 'warm'], dtype='object')

<ipython-input-27-689c3219eeee>:4: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  print(ind6 & ind7)
<ipython-input-27-689c3219eeee>:5: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  print(ind6 | ind7)

In [28]:
data= pd.Series(['a','b','c'],index=[1,3,5])

In [29]:
data[1] # explicit index

'a'

In [30]:
data[1:3] # implicit # 0 1 2

3    b
5    c
dtype: object

In [31]:
data.loc[1:3]   # always look the index he provided  # includes 3 also

1    a
3    b
dtype: object

In [32]:
data.iloc[1:3]            ## implicit we use iloc start with position 1 till position 0,1,2 always

3    b
5    c
dtype: object

In [33]:
data= pd.Series(['a','b','c','d'],index=["alex","rayan","berta","jack"])

In [34]:
data.loc["alex":"jack"]

alex     a
rayan    b
berta    c
jack     d
dtype: object

In [35]:
data.iloc[0:3] # 0,1,2

alex     a
rayan    b
berta    c
dtype: object

In [36]:
data.iat[1]

'b'

In [37]:
population= pd.Series({'Cal':38000000,'Texas':26000000})         # from 2 data series we make data frame
area= pd.Series({'Cal':424000,'Texas':690000})         # from 2 data series we make data frame
df_states= pd.DataFrame({'population':population,'area':area})

In [38]:
print(df_states)

       population    area
Cal      38000000  424000
Texas    26000000  690000

In [39]:
df_states.index

Index(['Cal', 'Texas'], dtype='object')

In [40]:
df_states.columns

Index(['population', 'area'], dtype='object')

In [41]:
df_states.values

array([[38000000,   424000],
       [26000000,   690000]])

In [42]:
df_states.loc['Texas']

population    26000000
area            690000
Name: Texas, dtype: int64

In [43]:
df_states.loc['Texas','area']

690000

In [44]:
df_states.iloc[1,1]

690000

In [45]:
df_states[df_states.area>500000]

       population    area
Texas    26000000  690000

In [46]:
df_states.area>500000

Cal      False
Texas     True
Name: area, dtype: bool

In [47]:
df_states[(df_states.area>30000000)| (df_states.population>500000)]

       population    area
Cal      38000000  424000
Texas    26000000  690000

In [48]:
df_states[(df_states.area>30000000)& (df_states.population>500000)]

Empty DataFrame
Columns: [population, area]
Index: []

In [49]:
df_states.area

Cal      424000
Texas    690000
Name: area, dtype: int64

In [50]:
df_states['area']

Cal      424000
Texas    690000
Name: area, dtype: int64

In [51]:
df2= pd.DataFrame({'population':population,'state area':area})

In [52]:
df2['state area']

Cal      424000
Texas    690000
Name: state area, dtype: int64

In [53]:
df_states.area= [10,20]

In [54]:
df_states

       population  area
Cal      38000000    10
Texas    26000000    20

In [55]:
df_states['area']=[10,20]   ## use this not he dot up # column name

In [56]:
df_states.loc['Texas']   # the first is the row and the second is the column

population    26000000
area                20
Name: Texas, dtype: int64

In [57]:
df_states.area= [42,69]

In [58]:
for a,p in zip(df_states['area'],df_states['population']):  ### zip is seperate iterable takes
  density=p/a
  print(density)

904761.9047619047
376811.59420289856

In [59]:
for i in df_states.index:
  density= df_states.loc[i,'area'] / df_states.loc[i,'population']
  print(f'{i} density: {density}')

Cal density: 1.1052631578947369e-06
Texas density: 2.6538461538461537e-06

In [60]:
df_states['density'] = df_states['population']/df_states['area']

In [61]:
df_states

       population  area        density
Cal      38000000    42  904761.904762
Texas    26000000    69  376811.594203

In [62]:
population= pd.Series({'Cal':38000000,'Texas':26000000, 'NY':15000000})         # from 2 data series we make data frame
area= pd.Series({'Cal':424000,'Texas':690000,'Hawaii':150000})         # from 2 data series we make data frame
df_states= pd.DataFrame({'population':population,'area':area})
df_states

        population      area
Cal     38000000.0  424000.0
Hawaii         NaN  150000.0
NY      15000000.0       NaN
Texas   26000000.0  690000.0

In [63]:
df_states['density'] = df_states['population']/df_states['area']

In [64]:
df_states

        population      area    density
Cal     38000000.0  424000.0  89.622642
Hawaii         NaN  150000.0        NaN
NY      15000000.0       NaN        NaN
Texas   26000000.0  690000.0  37.681159

In [65]:
df_states.fillna(0) # everything that is NaN is now replaced by 0

        population      area    density
Cal     38000000.0  424000.0  89.622642
Hawaii         0.0  150000.0   0.000000
NY      15000000.0       0.0   0.000000
Texas   26000000.0  690000.0  37.681159

In [66]:
df_states['area'].fillna('20000')  # it didnt change next step well make it change
df_states

        population      area    density
Cal     38000000.0  424000.0  89.622642
Hawaii         NaN  150000.0        NaN
NY      15000000.0       NaN        NaN
Texas   26000000.0  690000.0  37.681159

In [67]:
df_states['area'].fillna(20000)
df_states['area']= df_states['area'].fillna(200000)
df_states

        population      area    density
Cal     38000000.0  424000.0  89.622642
Hawaii         NaN  150000.0        NaN
NY      15000000.0  200000.0        NaN
Texas   26000000.0  690000.0  37.681159

In [68]:
# None np.NaN

In [69]:
df_states

        population      area    density
Cal     38000000.0  424000.0  89.622642
Hawaii         NaN  150000.0        NaN
NY      15000000.0  200000.0        NaN
Texas   26000000.0  690000.0  37.681159

In [70]:
df_states.dropna() # drops all that contains NaN drops rowss

       population      area    density
Cal    38000000.0  424000.0  89.622642
Texas  26000000.0  690000.0  37.681159

In [71]:
df_states.dropna(axis='columns')

            area
Cal     424000.0
Hawaii  150000.0
NY      200000.0
Texas   690000.0

In [76]:
df_states.dropna(axis=1, thresh= 3)

        population      area
Cal     38000000.0  424000.0
Hawaii         NaN  150000.0
NY      15000000.0  200000.0
Texas   26000000.0  690000.0

In [84]:
print(df_states)
print('_'*100)
print(df_states.fillna(method='ffill'))  # the previous value it printed
print(df_states.fillna(method='bfill'))  # second

        population      area    density
Cal     38000000.0  424000.0  89.622642
Hawaii         NaN  150000.0        NaN
NY      15000000.0  200000.0        NaN
Texas   26000000.0  690000.0  37.681159
____________________________________________________________________________________________________
        population      area    density
Cal     38000000.0  424000.0  89.622642
Hawaii  38000000.0  150000.0  89.622642
NY      15000000.0  200000.0  89.622642
Texas   26000000.0  690000.0  37.681159
        population      area    density
Cal     38000000.0  424000.0  89.622642
Hawaii  15000000.0  150000.0  37.681159
NY      15000000.0  200000.0  37.681159
Texas   26000000.0  690000.0  37.681159

In [93]:
population2= pd.Series({'Alaska':10000000,'Arizona':5000000})
area2= pd.Series({'Alaska':100000, 'Arizona':15000})
df2= pd.DataFrame({'population':population2,'area':area2})
df2['density']= df2['population']/df2['area']
print(df2)

         population    area     density
Alaska     10000000  100000  100.000000
Arizona     5000000   15000  333.333333

In [ ]:
df_all= pd.concat([df_states,df2])
print(df_all)

In [92]:
name= pd.Series(["ali","batrick","carl'","den"])
gpa= pd.Series([1,2,1,5])
df_class= pd.DataFrame({'name':name,'gpa':gpa})
print(df_class)

      name  gpa
0      ali    1
1  batrick    2
2    carl'    1
3      den    5

In [96]:
name= pd.Series(["ali","carl'","emily"])
course= pd.Series(['training','cycling','boxing'])
df_gym= pd.DataFrame({'name':name,'course':course})
print(df_gym)

    name    course
0    ali  training
1  carl'   cycling
2  emily    boxing

In [ ]:
pd.merge(df_class,df_gym) # intersection