<a href="https://colab.research.google.com/github/AhmadNass7/Gisma/blob/main/Classes_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class person:
  """
  an example of 
  """
  population=0



  @classmethod
  def increment_population(cls):
     cls.population +=1
  @staticmethod
  def greetings():
      print(f"Hello human!")   

  def __init__(self, name="Ahmad", age= 18):
    self.name= name
    self.age= age
    self.adress= "Hay l leja"
    person.population +=1
    person.increment_population()
    person.greetings()



  def __str__(self):
    return f"name:{self.name} , age: {self.age}" 
    
                    # class attributes are name and age 
                    # 1st variable is self , name ,and age

In [2]:
p1= person("Ahmad", 26)  # here we didnt pass the self

Hello human!

In [3]:
print(p1.age)

26

In [4]:
print(p1.age,p1.name)   # self is the p1 not the person

26 Ahmad

In [5]:
p2 = person()
persons = []
for name, age in [("alex", 25), ("Ali", 24)]:
  persons.append(person(name,age))

Hello human!
Hello human!
Hello human!

In [6]:
print(persons[0].name)

alex

In [7]:
p2= person()
print(p1)
print(p2)

Hello human!
name:Ahmad , age: 26
name:Ahmad , age: 18

In [8]:
p3= p1
p3.name= "Sufiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii"

In [9]:
print(p1.name, p3.name) # it makes a short cut thats why its a duplicate

Sufiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii Sufiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

In [10]:
import copy


p4=copy.copy(p1)
p4.name="Ahmad"

print(p1.name, p4.name)

Sufiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii Ahmad

In [11]:

import copy


p4=copy.deepcopy(p1) # deep copy is more accurate 
p4.name="Ahmad"

print(p1.name, p4.name)

Sufiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii Ahmad

In [12]:
p1.name1= "old" # it dosent give error here for only p1 
print(p1.name)

Sufiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

In [13]:
print(p1) # then we insert

name:Sufiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii , age: 26

In [14]:
# to print p1 normally we inseret above def str okay

In [15]:
print(person.__doc__) # writing """"

  an example of

In [16]:
del p1

In [17]:
print(p3.__dict__)

{'name': 'Sufiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii', 'age': 26, 'adress': 'Hay l leja', 'name1': 'old'}

In [18]:
print(p3.__dict__.values())

dict_values(['Sufiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii', 26, 'Hay l leja', 'old'])

In [19]:
## if we made a population , even if we insert del its give us the pop of all

In [20]:
print(person.population)

10

In [27]:
class person:
  def __init__(self,name,age):
    self._name= name
    self.set_age(age)


    
  def get_age(self):
    return self._age
    
  def set_age(self,new_age):
    if (isinstance(new_age,int)):
      if new_age > 0 and new_age < 200:
        self._age= new_age
      else:
          print(f"age{new_age} is not invalid range")
    else:
         print("age should be integer!")   
           # use underscoere for private attributes

In [28]:
p1=person("Ahmad",97)

In [29]:
p1= person("Ahmad", 97)
p2= person("noha",1000)

age1000 is not invalid range

In [30]:
p2= person("noha",1000)

age1000 is not invalid range

In [31]:
p1._name= 96
print(p1.get_age())# dont forget the ()

p1.set_age("30")
print(p1.get_age())

97
age should be integer!
97

In [40]:
class personII:
  def __init__(self,name,age):
    self._name= name
    self.age=age


  @property # setter
  def age(self):
    return self._age


  @age.setter# getter
  def age(self, new_age):      
    if (isinstance(new_age,int)):
      if new_age > 0 and new_age < 200:
        self._age= new_age
      else:
          print(f"age{new_age} is not invalid range")
    else:
         print("age should be integer!")   
           # use underscoere for private attributes

In [41]:
ahmad= personII("Ahmad", 10)
print(ahmad.age)
ahmad.age= 20000

10
age20000 is not invalid range