<a href="https://colab.research.google.com/github/AhmadNass7/Gisma/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
3*3

9

In [2]:
1245*1245

1550025

In [5]:
def my_square(x):

 # This is a sample docstring for a function

  return x*x

In [6]:
my_square(4.1)

16.81

In [9]:
import math 

pi = 3.1415
math.cos(pi)

print(math.pi)

3.141592653589793

In [8]:
import math

In [10]:
from math import pi, sin

In [11]:
print(pi)

3.141592653589793

In [17]:
from math import pi, sin

print(sin(pi))

1.2246467991473532e-16

In [18]:
print(math.cos(pi))

-1.0

In [23]:
# or
from math import cos
print(math.cos(pi))

-1.0

In [24]:
def my_square(x):
  """This function squares a number"""

  x2 = x*x
  return x2

In [25]:
x = 7
x_square = my_square(x)
print(f"square of {x} is {x_square}")

square of 7 is 49

In [27]:
from math import factorial

In [28]:
factorial(5)

120

In [42]:
def my_factorial(n):
  """Returns factorial of a number"""

  f = 1 
  for i in range(1, n+1):
    f = f*i
  return f
  print(f"f({n})= {f}")

In [45]:
my_factorial(5)

120

In [46]:
print (my_factorial.__doc__)

Returns factorial of a number

In [47]:
print(math.cos.__doc__)

Return the cosine of x (measured in radians).

In [48]:
def triple_add(x, y, z):
  """ adds 3 inputs"""
  sum = x+y+z

  return sum

In [49]:
triple_add(1000, 200, 3)

1203

In [66]:
def name_gen(first_name, last_name, middle_name, title):
  """ Generates name"""
  name = f"{title} {first_name} {last_name}"
  print(name)

  return name

In [67]:
name_gen("Alex", "Adam", "Jan", "Mr")
name_gen("Alex", "Adam", "Lord","Mr")

Mr Alex Adam
Mr Alex Adam

'Mr Alex Adam'

In [68]:
name_gen(title = "Madam", first_name="Lili", middle_name= "Mary", last_name="Baker") # i didnt place middle name in line 66

Madam Lili Baker

'Madam Lili Baker'

In [70]:
def greeter(*args):
  for name in args:
    print(f"Welcome {name}!")

In [71]:
greeter("I", "Me", "Myself", "Ich", 1000, pi)

Welcome I!
Welcome Me!
Welcome Myself!
Welcome Ich!
Welcome 1000!
Welcome 3.141592653589793!

In [74]:
square = lambda x: x*x

In [75]:
square(5)

25

In [78]:
# 5! = 4! *5

In [79]:
def factorial_rec(n):

  if n==1:
     return 1
  else:
     return n* factorial_rec(n-1)
     print(f"{n} = {n-1}! x {n}")

In [82]:
factorial_rec(5)

120

In [93]:
def factorial_rec(n):

  if n==1:
     print(f"{1}! = 1")
     return 1
  else:
     print(f"{n}! = {n-1}! x {n}")
     return n* factorial_rec(n-1)

In [94]:
factorial_rec(1)

1! = 1

1

In [95]:
factorial_rec(5)

5! = 4! x 5
4! = 3! x 4
3! = 2! x 3
2! = 1! x 2
1! = 1

120

In [96]:
a = 10
myname = "Max"

In [109]:
def test():
  ## here is a local scope
  local_name = "Jack" # local variable 
  name1 = "alex" # it doesnt change the global variable but makes local
  name2= "kusha" # defined gloval , it will change also out of scope 
  print(f"{myname} & {local_name} are friends")

In [108]:
name1= "alex"
name2= "kusha"
print(name1, name2)

alex kusha

In [120]:
def name_gen(first_name, last_name, title = "Sir.", middle_name=""):
  """Generates name"""
  def capitalize(s):
    nonlocal s
    if len(s)<2 :
      s = s.upper()
    else:
      s = s.upper()[0] + s.lower()[1:]
  name = f"{title} {first_name} {middle_name} {last_name}"


  return name

SyntaxError: ignored