<a href="https://colab.research.google.com/github/AhmadNass7/Gisma/blob/main/loops_with_func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name="Ahmad Nasser"

for i in name:
  print(i)

A
h
m
a
d

N
a
s
s
e
r

In [2]:
for k in range(1,12,2):
  print(k)

1
3
5
7
9
11

In [4]:
i= int(input("Enter a number:"))
while(i<=38):
  i= int(input("Enter a number:"))
  print(i)


print("Done with loop")

Enter a number:20
Enter a number:39
39
Done with loop

In [5]:
count= 5
while(count>5):
  count=count+1
  print(count)

In [6]:
i= 0
while(i<3):
  i= i+1
  print(i)
print("Done with loop")

1
2
3
Done with loop

In [7]:
i= 3
while(i<=3):
  i= i+1
  print(i)
print("Done with loop")

4
Done with loop

In [9]:
 i= int(input("enter a number"))
 
while(i<=3):
  i= int(input("enter a number"))
  i= i+1
  print(i)

print("you gained my heart ")

enter a number

ValueError: ignored

In [ ]:
count= 5
while(count>0):
  print(count)
  count= count-1

else:
  print("I am inside")

In [10]:
count= 5
while(count>0):
  print(count)
  count= count-1

5
4
3
2
1

In [11]:
for i in range(12):
  print("5X",i,"=",5*i+1)
  print(i)

5X 0 = 1
0
5X 1 = 6
1
5X 2 = 11
2
5X 3 = 16
3
5X 4 = 21
4
5X 5 = 26
5
5X 6 = 31
6
5X 7 = 36
7
5X 8 = 41
8
5X 9 = 46
9
5X 10 = 51
10
5X 11 = 56
11

In [12]:
for i in range(12):
  if(i==10):
    print("nyeke nyeke nyeke")
    continue
    



print("5X",i,"=",5*i)

nyeke nyeke nyeke
5X 11 = 55

In [13]:
a= 9
b= 8
def  calculateGmean(a,b):
  mean=(a*b)/(a+b)
  print(mean)

In [14]:
a= 17
b= -2

def isGreater(a,b):
  if(a>b):
    print("the first number is greater")
  else:
    print("The second number is greater or equal")

In [15]:
def average(*numbers):
  sum= 0
  for i in numbers:
    sum=sum +i
    print("the sum of number is:",sum/len(numbers))


average(2,8)

the sum of number is: 1.0
the sum of number is: 5.0

In [16]:
name= "numbers"

len(name)

7

In [17]:
name= "numbers"
for i in name:
  print(name)

numbers
numbers
numbers
numbers
numbers
numbers
numbers

In [23]:
def name(**name):
  name(first_name="Ahmad",last_name="Nasser")
  print()
print("hello",name)

hello <function name at 0x7f492f33f790>